/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
.one {
    display: flex;
    flex-direction: column;
    background: mediumpurple;
    justify-content: flex-end;
    width: 300px;
    padding-top: 150px;
    padding-bottom: 10px;
}

p, h3 {
    color: white;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three .left {
    list-style-type: none;
    display: flex;
    flex-basis: 270px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    flex-direction: row;

}

.three .right {
    list-style-type: none;
}

li {
    position: relative;
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

}


/*Form*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: springgreen;
    margin-left: 400px;
    margin-right: 400px;
}

.container input{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom: 15px;
}
form label {
    display: flex;
    flex-direction: column;
}


/*opdracht 2.5 */

.five {
    display: flex;
    flex-direction: row;
    background-color: orange;
    color: white;
}
.five h1, p {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 20px;
}

.five h1 {
    padding-top: 10px;
}
.five p {
    padding-bottom: 20px;
}

.five h1 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

@media screen and (max-width: 700px) {
    .five {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 700px) {
    .nowrap {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 700px) {
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }
}
